     .page404 {
         height: 100%;
         display: flex;
     }
     
     .text404 {
         height: auto;
         padding: 0 0em 4em 0em;
     }
     
     .bgImg {
         height: 100vh;
         width: 80vw;
         background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/tomatoes-1448361_1280.jpg') no-repeat center center;
         background-size: cover;
         display: flex;
         justify-content: center;
         position: fixed;
     }
     
     .fa-exclamation-circle {
         font-size: 7em;
         color: rgba(255, 255, 255, .8);
     }
     
     .text {
         font-size: 2em;
         text-transform: uppercase;
         text-align: center;
         writing-mode: vertical-rl;
         text-orientation: upright;
         line-height: .5;
         margin-bottom: 1em;
         padding-top: 1em;
     }
     
     @media only screen and (max-width: 780px) {
         .basket {
             height: 30%;
             width: 100%;
             background-size: cover;
             display: flex;
             justify-content: center;
             position: static;
             align-items: center;
             padding: 0;
         }
         .textPres {
             padding: 0;
         }
         .farm_rightSection {
             padding: 0;
         }
     }
     
     @media only screen and (max-width: 450px) {
         .title_basket {
             margin-top: 1em;
             margin-bottom: .3em;
         }
         .title_recipe {
             margin-top: 1em;
             margin-bottom: 1em;
         }
         .containerSuggestionsPage {
             margin: 2em;
         }
         .basket>i {
             padding-top: 0;
         }
         .basket {
             padding: 0;
         }
         .basket>i.fa {
             font-size: 5em;
         }
         .title_recipe {
             margin: .5em 0 .5em 0;
             line-height: 90%;
         }
         .text_recipe {
             margin-top: .2em;
         }
     }