        .adminpanel {
            height: 40vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: none;
        }

        .containerAdmin {
            display: flex;
            align-items: center;
            width: 25%;
            height: 85vh;
        }

        .panel {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }

        .panel-body {
            padding: 0;
            border: 0;
        }

        .eye {
            color: #455a64;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .action {
            width: 100%;
            background: #455a64;
            height: 25%;
            border: 2px #F5F8FA solid;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
        }

        .action:hover {
            cursor: pointer;
            transition: all 0.5s;
            background: #546e7a;
        }

        .action>.textmenu span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .action>.textmenu span:after {
            content: ">>";
            position: absolute;
            opacity: 0;
            top: -7px;
            right: -100px;
            transition: 0.5s;
        }

        .textmenu>span:after {
            font-size: 20px;
        }

        .action:hover span {
            padding-right: 2px;
        }

        .action:hover span:after {
            opacity: 1;
            right: -30px;
        }

        a:hover {
            color: white;
        }

        .textmenu {
            width: 80%;
            padding-left: 3vw;
        }

        .facontainer {
            padding-left: 1vw;
            width: 10%;
        }

        @media (max-width: 767px) {
            .containerAdmin {
                display: flex;
                align-items: center;
                width: 80%;
                height: 85vh;
            }
        }