#supprimerCol {
    width: 5%;
}

.deleteRecipe:hover {
    cursor: pointer;
}

.detailRecette::after {
    font-weight: bold;
}

#detailsCol {
    width: 5%;
}

#idList {
    width: 5%;
}

.fa-times {
    color: red;
}

.panel-footer {
    text-align: center;
}

.retour {
    text-align: center;
}

.fa-question-circle:hover {
    cursor: help;
}

.remove_field {
    text-align: center;
}

.warning {
    background-color: rgba(255, 0, 0, .2);
}