body {
    background-image: url('../img/field-2168030_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -250px;
    background-position-y: -100px;
}

.animation>img {
    margin: 0.25vw;
}

.row {
    display: flex;
    margin-bottom: 5%;
}

p {
    text-align: justify;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#instafeed {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}