.containerPage {
    width: 90%;
}

.imgExploit {
    max-width: 100%;
    height: auto;
    padding-bottom: 5vh;
}

.instaContainer {
    height: auto;
    padding-top: 4vh;
    padding-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
}

.imgAndText {
    display: flex;
    align-items: center;
}

.imgAndText>img {
    width: 50%;
    height: 100%;
    padding: 0;
}

.imgAndText>p {
    width: 50%;
    font-size: 1.2em;
    padding-left: 3vw;
    text-align: justify;
    margin: 0;
}

#instafeed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-content: space-between;
    /* align-items: flex-end; */
}

.animation>img {
    padding-bottom: 1vh;
}

.farm_leftImage {
    height: 89%;
    width: 15%;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/field.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: fixed;
}

.farm_leftImage>i {
    padding-top: .4em;
}

.fa-pagelines {
    font-size: 7em;
    color: rgba(255, 255, 255, .8);
}

@media only screen and (max-width: 780px) {
    .farm_leftImage {
        height: 30%;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: static;
        align-items: center;
    }
    .textPres {
        padding: 0;
    }
    .farm_rightSection {
        padding: 0;
    }
}

@media only screen and (max-width: 450px) {
    #instafeed {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* justify-content: space-between; */
    }
    .animation {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 50%;
    }
    .animation>img {
        display: flex;
        /* justify-content: center; */
        width: 90%;
        height: 90%;
        /* padding: 1vh; */
        margin-bottom: 1vh;
        padding-bottom: 0;
    }
    .containerPage>h3 {
        text-align: center;
        margin-top: 0;
    }
    .imgAndText {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .imgAndText>img {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .imgAndText>p {
        width: 100%;
        font-size: 1em;
        text-align: justify;
        padding-left: 0;
        padding-top: 3vh;
        margin: 0;
    }
    .farm_leftImage {
        height: 30%;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: static;
        align-items: center;
    }
    .farm_leftImage>i {
        padding-top: 0em;
    }
    .farm_leftImage>i.fa {
        font-size: 5em;
    }
    .textPres {
        padding: 0;
    }
    .farm_rightSection {
        padding: 0;
    }
    .fa-pagelines {
        padding: 0;
    }
}