body {
    background-image: url('../img/market-406858_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -250px;
    background-position-y: -100px;
    z-index: 0;
}

#map {
    z-index: 10000;
}