#map {
    height: 80vh;
    width: 100%;
}

.containerSection .container {
    height: 100%;
}

#map {
    color: rgb(105, 80, 101);
}

@media only screen and (max-width: 450px) {
    #map {
        width: auto;
        height: auto;
    }
}